.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  input {
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 30rem;
    max-width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  input:focus {
    outline: none;
    border-color: #0077ff;
    box-shadow: 2px 2px 8px rgba(0, 119, 255, 0.4);
  }
  button[type="submit"] {
    font-size: 30px;
    border: none;
    outline: none;
    background-color:white;
  }
  .App  {
 padding-top: 5%;
  }

  
----------------------------------------------------

  .movies-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .movie-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .movie-card h2 {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .movie-card p {
    margin-bottom: 0;
    font-size: 0.9rem;
  }
  


  